.List-item,
.complete-todolist {
    cursor: pointer;
    width: 95%;
    padding: .5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px solid black;
    margin: .3rem 1rem;

    .anticon{
        font-size: 1.2rem;
    }

    .anticon-check-circle{
        // justify-content: flex-start;
        outline: none;
        margin: auto 1rem;
        cursor: pointer;
    }

    .text{
        flex-grow: 1;
        justify-content: center;
    }

    .complete-true{
        line-height: 1rem;
        opacity: .5;
    }


    .anticon-delete{
        justify-content: flex-end;
        margin: auto 1rem;
        cursor: pointer;
    }
}

.complete-todolist{
    opacity: .5;
}

.List-item {
    opacity: 1;
}