.index {
    width: 100%;
    display: flex;
    align-self: center;
    flex-direction: column;
    background-color: whitesmoke;
    
    .index-header {
        justify-content: space-between;
        // text-align: center;
        margin: 10rem auto;
        width: 60%;
        // border: 1px solid black;

                .user-input{
                    width: 70%;
                    margin: 1rem;
                    padding: 1rem;
                }
    
                .user-button {
                    margin:  .5rem;
                    padding: 1rem
                }
    }

}